/node_modules
/nxdb-premium.tgz
/test-integration
/test-integration/*
/dist
/plugins
/release
stats.json
test_tmp/
*.~lock*
test-db-*
nxdb-server.tgz

## copied from the nxdb core via 'npm run prebuild'
scripts/generate-plugins-package-json.mjs

## copied from the nxdb core
babel.config.js
